@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --purple:#7450AC;
  --purple-dark:#523480;
  --purple-light:#A881E6;

  --gray-100:#FBF9FE;
  --gray-200:#FBF9FE;
  --gray-300:#252529;
  --gray-400:#17171A;
  --gray-500:#111112;
  --gray-600:#0C0C0D;

  --sucess:#FFFFFF;
  --sucess-light:#FFFFFF;

  --pink:#DB5BBF;
  --pink-dark:#251622;

  --orange:#E07B67;
  --orange-dark:#261A17;

  --yellow:#BB9F3A;
  --yellow-dark:#211E12;

  --green:#8CAD51;
  --green-dark:#1C2015;

  --blue:#7B94CB;
  --blue-dark:#1A1D23;


}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;

}

body, input, button{
  font-family: "Inter", sans-serif;

}

body{
  background-color: #1E1E1E;
}

:focus{
  outline: transparent;
  box-shadow: 0 0 0 2px var(--purple-dark);
}


/* Remove as setas do input number no Chrome, Safari, Edge e Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove as setas do input number no Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
