.header {

    background-image: url("../../public/Image.png");
    height: 185px;

    display: flex;
    align-items: center;

    padding-left: 352px;

}

.title{
    color: var(--gray-100);
    font-size: 24px;
    font-weight: bold;
}